.container {
  margin-top: 6em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5em;
}

.card_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;
  transition: scale 300ms ease;
  border-radius: .5rem;
  padding: 1.5em;
}

.card_content:hover {
    scale: 1.1;
    outline: 1px solid var(--green);
}


.card_title {
    font-weight: 600;
    font-size: 1.5rem;
}

.card_description {
    text-align: center;
    color: var(--dull-white);
    font-size: 1.2rem;
    width: 85%;
}