@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-dark: #2b2b2b;
  --background-light: #fff;
  --dark-bg-text: var(--background-light);
  --light-bg-text: var(--background-dark);
  --green: #009379;
  --blue: #3366ff;
  --red: #ff6250;
  --yellow: #ffdf90;
  --purple: #bfaff2;
  --primary-gray: #2b2b2b;
  --dark-gray: #333333;
  --light-gray: #c4c4c4;
  --dull-white: #ffffffa4;
  --border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  .theme {
    background-color: var(--background-dark);
    color: var(--dark-bg-text);
  }
} */

.dark {
  background-color: var(--background-dark);
  color: var(--dark-bg-text);
}

.light {
  background-color: var(--background-light);
  color: var(--light-bg-text);
  --dull-white: var(--dark-gray) !important;
}

.theme {
  transition: background 1s ease;
}
