@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background: #2b2b2b;
  --green: #009379;
  --blue: #3366ff;
  --red: #ff6250;
  --yellow: #ffdf90;
  --purple: #bfaff2;
  --primary-gray: #2b2b2b;
  --dark-gray: #333333;
  --light-gray: #c4c4c4;
  --dull-white: #ffffffa4;
  --border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}
