/* Styles for hero page */

.container {
  display: flex;
  align-items: center;
  padding-top: 2.5em;
  padding-inline: 4em;
  position: relative;
}

.textContainer {
  display: inherit;
  flex-direction: column;
  gap: calc(2em - 24px);
}

.header {
  font-size: 3.5rem;
  width: 75%;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.description {
  color: var(--dull-white);
  margin-bottom: 1.5em;
  width: 70%;
  font-size: 1.2rem;
}

.description .meLink {
  color: var(--yellow);

  &:hover {
    text-decoration: underline wavy currentColor;
  }
}

.landingCta {
  background: var(--yellow);
  color: var(--dark-gray);
  width: fit-content;
  padding: 1em 2em;
  border-radius: var(--border-radius);
  text-transform: capitalize;
}

/* Image */
.imageContainer {
  background-color: var(--dark-gray);
  /* flex: 1; */
  padding: 0.5em;
  border-radius: 1rem;
  animation: levitate 2s ease infinite alternate;
}

.imageContainer img {
  object-fit: cover;
}

@keyframes levitate {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

/* Multipart section */
.multiPartSection {
  width: 80%;
  margin: 4em auto 2em;
}

.brandsSection {
  --_stroke-color: var(--dull-white);
  --_stroke-height: 1px;
  padding: 3em 0;
  margin-bottom: 3.5em;
  position: relative;
  background-color: var(--primary-gray);
}

.brandsSection img {
  width: 100%;
}

/* Pseudo elements */
.brandsSection::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--_stroke-height);
  background-color: var(--_stroke-color);
  margin-bottom: 1em;
}

.brandsSection::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--_stroke-height);
  background-color: var(--_stroke-color);
  margin-top: 1em;
}

.dashboardImage {
  margin: 2em auto 0;
  background-color: #fff;
  border-radius: 1rem;
}

.dashboardImage img {
  object-fit: contain;
}

.dashboardImage.dashBoardImageDark {
  background-color: var(--primary-gray);
}

/* Testimonial section */
.testimonial {
  width: 80%;
  margin: 3em auto;
  background-color: var(--purple);
  color: var(--dark-gray);
  border-radius: 1rem;
}

.testimonialContainer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 4em 0;
}

.testimony {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Questions cta */
.questionsSection {
  width: 80%;
  margin: 4.5em auto 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.questions_text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.questions_text .header {
  width: 70%;
}

.questions_text .description {
  width: 65%;
  color: var(--dull-white);
}

.questions_image {
  position: relative;
  border-radius: 1rem;
  overflow: clip;
}

.questions_image img {
  object-fit: cover;
}

.questionsSection::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--_stroke-height);
  background-color: var(--_stroke-color);
  margin-top: 1em;
}
